{% extends "base.html" %}
{% load static %}
{% load trolley_tools %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Trolley</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if trolley_items %}
                <div class="d-block d-md-none">
                    <div class="row">
                        <div class="col">
                            {% include "trolley/trolley-total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "trolley/checkout-buttons.html" %}
                            <p class="text-muted mb-5">A summary of your trolley contents is below</p>
                        </div>
                    </div>
                    {% for item in trolley_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "trolley/item-image.html" with item=item.item %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "trolley/item-info.html" with item=item.item %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: £{{ item.item.price }}</p>
                            <p><strong>Subtotal: </strong>£{{ item.item.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "trolley/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Item Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in trolley_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% include "trolley/item-image.html" with item=item.item %}
                            </td>
                            <td class="py-3">
                                {% include "trolley/item-info.html" with item=item.item %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.item.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                {% include "trolley/quantity-form.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">£{{ item.item.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                {% include "trolley/trolley-total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right no-border">
                                <div class="checkout-buttons-wrapper">
                                {% include "trolley/checkout-buttons.html" %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="lead mb-5">Your trolley is empty.</p>
                <a href="{% url 'items' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Back To Top Button: inside main -->
        <div class="btt-button shadow-sm rounded-0 border border-black mt-3">
            <a class="btt-link d-flex h-100" href="#">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>
        </div>
    </main>
</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% include 'items/includes/quantity_input_script.html' %}

<script>
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        e.preventDefault();  // prevent default link action

        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).data('item-id'); // from data-item-id attribute
        var size = $(this).data('item_size');
        var url = `/trolley/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'item_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });

</script>
{% endblock %}