{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- Page Header Container -->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Page Overlay -->
    <div class="overlay"></div>

    <!-- Main Container -->
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Item Management</h2>
                <h5 class="text-muted">Edit an Item</h5>
                <hr>
            </div>
        </div>

        <!-- Form Row -->
        <div class="row">
            <div class="col-12 col-md-6">
                <!-- Item Edit Form -->
                <form method="POST" action="{% url 'edit_item' item.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <!-- Loop through form fields -->
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field|as_crispy_field }}
                        {% else %}
                            <!-- Custom rendering for the image upload field -->
                            <div class="form-group">
                                <label for="new-image">Image</label>
                                <input type="file" name="image" class="form-control" id="new-image">
                            </div>
                        {% endif %}
                    {% endfor %}

                    <!-- Area to show selected image filename via JS -->
                    <p class="text-danger" id="filename"></p>

                    <!-- Form Buttons -->
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'items' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Item</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Script to preview uploaded image filename -->
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            if (file) {
                $('#filename').text(`Image will be set to: ${file.name}`);
            } else {
                $('#filename').text('');
            }
        });
    </script>
{% endblock %}
