<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-items-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                General Items
            </a>
             <div class="dropdown-menu border-0" aria-labelledby="all-items-link">
                <a href="{% url 'items' %}?sort=price&direction=asc" class="dropdown-item">Price: Low to High</a>
                <a href="{% url 'items' %}?sort=price&direction=desc" class="dropdown-item">Price: High to Low</a>
                <a href="{% url 'items' %}?sort=category&direction=asc" class="dropdown-item">Category A-Z</a>
                <a href="{% url 'items' %}" class="dropdown-item">All General Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'items' %}?category=night-wear" class="dropdown-item">Night Wear</a>
                <a href="{% url 'items' %}?category=shirts" class="dropdown-item">Shirts</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'items' %}?category=clothing" class="dropdown-item">Alls Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="miscellaneous-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Miscellaneous
            </a>
           <div class="dropdown-menu border-0" aria-labelledby="miscellaneous-link">
                <a href="{% url 'items' %}?category=baseball-caps" class="dropdown-item">Baseball Caps</a>
                <a href="{% url 'items' %}?category=badges" class="dropdown-item">Badges</a>
                <a href="{% url 'items' %}?category=other" class="dropdown-item">Other Items</a>
            </div>
        </li>

          <li class="nav-item">
    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'who_we_are' %}" id="who-we-are-link">
        Who we are
    </a>
</li>

    </ul>
</div>