{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{# Set the browser tab title #}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="form-box">

  <hr>
  <h2 class="logo-font mb-4">{% trans "Set Password" %}</h2>
  <hr>

  {# Password set form for users who need to create a new password (e.g. after signup without a password) #}
  <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    
    {# Submit button to save the new password #}
    <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
  </form>

</div>
{% endblock %}
