{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{# Set the browser title for the page #}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
  <div class="form-box">
    <hr>
    <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
    <hr>

    {# Password change form #}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{ form|crispy }}
      
      {# Link to return to login page #}
      <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>

      {# Submit button to change password #}
      <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
{% endblock %}
