{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{# Set the page title in the browser tab #}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="form-box">

  <hr>
  <h2 class="logo-font mb-4">
    {# Show "Bad Token" if the reset link has failed, otherwise "Change Password" #}
    {% if token_fail %}
      {% trans "Bad Token" %}
    {% else %}
      {% trans "Change Password" %}
    {% endif %}
  </h2>
  <hr>

  {% if token_fail %}
    {# If the token is invalid or expired, prompt to request a new one #}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktrans %}
        The password reset link was invalid, possibly because it has already been used.
        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
      {% endblocktrans %}
    </p>
  {% else %}
    {% if form %}
      {# Password change form with CSRF protection #}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        {{ form|crispy }}
        
        <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
        <input type="submit" name="action" value="{% trans 'change password' %}" />
      </form>
    {% else %}
      {# Message shown after successful password change #}
      <p>{% trans "Your password is now changed." %}</p>
    {% endif %}
  {% endif %}

</div>
{% endblock %}
