{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{# Set the page title for the browser tab #}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<!--<div id="sign-up">-->
  <div class="form-box">
    <hr>
    <h2 class="logo-font mb-4">{% trans "Sign Up" %}</h2>
    <hr>

    {# Link to sign in page for existing users #}
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    {# Signup form starts here #}
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}

      {# Redirect field to preserve where user came from, if any #}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      {# Navigation link to login page #}
      <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>

      {# Submit button to complete signup #}
      <button type="submit">{% trans "Sign Up" %}</button>
    </form>
  </div>
</div>
{% endblock %}
