<script>
    

    // Function to enable/disable +/- buttons based on quantity
    function handleEnableDisable(itemId, size) {
        let currentValue;

        if (typeof size !== 'undefined') {
            currentValue = parseInt($(`.size_${itemId}_${size}`).val(), 10);
        } else {
            currentValue = parseInt($(`.id_qty_${itemId}`).val(), 10);
        }

        const minusDisabled = currentValue <= 0;
        const plusDisabled = currentValue >= 99;

        if (typeof size !== 'undefined') {
            $(`.decrement-size_${itemId}_${size}`).prop('disabled', minusDisabled);
            $(`.increment-size_${itemId}_${size}`).prop('disabled', plusDisabled);
        } else {
            $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }
    }

    $(document).ready(function () {
        const allQtyInputs = $('.qty_input');
        for (let i = 0; i < allQtyInputs.length; i++) {
            const itemId = $(allQtyInputs[i]).data('item_id');
            const size = $(allQtyInputs[i]).data('size');
            handleEnableDisable(itemId, size);
        }

        $('.qty_input').change(function () {
            const itemId = $(this).data('item_id');
            const size = $(this).data('size');
            handleEnableDisable(itemId, size);
        });

        $('.increment-qty').click(function (e) {
            e.preventDefault();
            const itemId = $(this).data('item_id');
            const size = $(this).data('size');
            const input = $(this).closest('.input-group').find('.qty_input');
            let currentValue = parseInt(input.val(), 10);

            if (currentValue < 99) {
                const newValue = currentValue + 1;
                if (typeof size !== 'undefined') {
                    $(`.input-group-${itemId} input[data-size='${size}']`).val(newValue);
                } else {
                    $(`.input-group-${itemId} input[name='quantity']`).val(newValue);
                }
                handleEnableDisable(itemId, size);
            }
        });

        $('.decrement-qty').click(function (e) {
            e.preventDefault();
            const itemId = $(this).data('item_id');
            const size = $(this).data('size');
            const input = $(this).closest('.input-group').find('.qty_input');
            let currentValue = parseInt(input.val(), 10);

            if (currentValue > 0) {
                const newValue = currentValue - 1;
                if (typeof size !== 'undefined') {
                    $(`.input-group-${itemId} input[data-size='${size}']`).val(newValue);
                } else {
                    $(`.input-group-${itemId} input[name='quantity']`).val(newValue);
                }
                handleEnableDisable(itemId, size);
            }
        });
    });

        // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        e.preventDefault();  // prevent default link action

        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).data('item-id'); // from data-item-id attribute
        var size = $(this).data('item_size');
        var url = `/trolley/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'item_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>
